@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.degree-switcher {
  display: flex;
  align-self: center;
  gap: 6px;
  font-size: 2.5rem;
  font-weight: 400;

  & sup .degree {
    vertical-align: super;
    color: $color-white;
    opacity: 50%;
    font-size: 1.5rem;

    &.degree-active {
      opacity: 100%;
      cursor: default;
    }
  }
}
