$color-text: #313745;
$color-text-gray: #a7adb8;
$color-border: #e8e9ec;
$color-primary: #32a1fe;
$color-primary-dark: #0c83eb;
$color-white: #fff;

$gradient-day: radial-gradient(circle at 12.3% 19.3%, #1d94fe, rgb(95, 209, 249) 100.2%);
$gradient-night: radial-gradient(circle at 90% 28%, #9fa5fd, #5b6aeb 100.2%);

$border-radius: 4px;
